<div class="buttons">
<button (click)="changeCondition(conditions.all)">Все</button>
<button (click)="changeCondition(conditions.done)">Завершенные</button>
<button (click)="changeCondition(conditions.unDone)">Незавершенные</button>
</div>
<div class="message-container" [ngClass]="{'activeTask': task.condition}" 
*ngFor="let task of messagesForRender | taskCondition: filterCondition">
<p class="text-message">{{task.text}}</p>
<button mat-icon-button  (click)="activateTaskFromId(task.id)">
    <mat-icon>done_all</mat-icon>
</button>
<button mat-icon-button (click)="deleteTaskFromId(task.id)">
    <mat-icon>close</mat-icon>
</button>
</div>

<mat-paginator [length]="messagesForRender.length" [pageSize]="pageSize" 
[pageSizeOptions]="[10, 25, 50]" (page)="handlePageEvent($event)">
</mat-paginator>
